.App {
  width: 100;
  min-height: 100vh;
  text-align: center;
  background: #ffffff;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.image {
  height: 40vmin;
  max-width: 100%;
  pointer-events: none;
}

.navbar {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  white-space: nowrap;
  justify-content: space-between;
  align-items: baseline;
  color: #5e5f6d;
  font-family: 'Noto Sans JP';
  border-bottom: 2px solid #f1f1f1;
}

.Branding {
  font-size: 38px;
  font-weight: 500;
  margin: .5rem;
}

ul {
  margin: 0;
  margin-right: 4rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  padding: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  color: #ffffff;
  background: #6C63FF;
  border: none;
  border-radius: 4px;
  transition: 0.3s ease;
  opacity: 60%;
}

button:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
  background: #6C63FF;
  opacity: 100%;
}

button:active {
  transform: translateY(-1px);
  background: #645de4;
  opacity: 100%;
}

li {
  list-style: none;
  padding: 1rem;
  font-weight: 500;
  font-size: 24px;
}

h1 {
  color: #5e5f6d;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 62px;
}

p {
  color: #a2a4ad;
  font-family: 'Noto Sans JP';
  font-size: 28px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: float infinite 5s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20vh;
}

.about p {
  color: #cec5ff;
  font-weight: 500;
  text-align: left;
}

.about h1 {
  color: #3f3786;
  text-align: center;
  margin: 0;
}

.about {
  min-height: 100vh;
  width: 100;
  background: #6C63FF;
  display: flex;
  padding: 1.5rem;
  padding-top: 3rem;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(6px);
  }
  100% {
    transform: translateY(0px);
  }
}

/*desktops and modern laptops*/
@media screen and (min-width: 1200px) {
  p {
    margin: 4px;
  }

  .about h1 {
    color: #3f3786;
    text-align: left;
    margin: 0;
  }

  .about {
    text-align: justify;
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .about-text {
    width: 80%;
  }
}
